

.jumbotron{
    background-color: rgba(36, 33, 33, 0.7);
    color: white;
    border-style: solid;
    border-color: black;
}
body {
    
    padding-top: 70px;
}


.panel{
    
	border-style: solid;
	border-color: grey;
	border-width: 8px;

}
.panel-heading{
    background-color: rgba(36, 33, 33, 0.8);
    color: white;
}
.btn-success{
	color: rgb(255, 255, 255);
	background: rgba(28, 134, 42, 0.8);
}
#scrape{
	color: white;
	background: rgba(8, 64, 87, 0.8);
}
.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}